[Unit]
Description=Fail2ban etcd api
After=network.target

[Service]
Type=simple
WorkingDirectory=/root
ExecStart=/root/api.py
Restart=on-failure
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
